* { 
    margin: 0;
    padding: 0;
    font-family: "Share Tech", sans-serif;
    font-size: 18px;
}

body {
    background-image: url('img/fundo.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.par {
    flex: 1;
    display: flex;
    justify-content: center;

}

.menu {
    display: flex;
    justify-content: center;
    margin: 50px 0;
}

.menu ul {
    display: block;
    list-style: none;
}

.menu li {
    margin: 70px 10px;
}

.menu li a {
    background-color: rgb(109, 0, 0);
    font-size: 30px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    padding: 15px 20px;
    border-radius: 10px;
    transition: background-color 0.3s;
}

.menu li a:hover {
    background-color: yellow;
}

footer {
    background-color: black;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 20px;
    font-size: larger;
}