* { 
    margin: 0;
    padding: 0;
    font-family: "Share Tech", sans-serif;
    font-size: 18px;
}

body {
    background-image: url('img/fundo.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 125vh;
    display: flex;
    flex-direction: column;
}

.par {
    display: flex;
    justify-content: center;
}

.menu {
    display: flex;
    justify-content: center;
    margin: 30px 0;
}

.menu ul {
    display: block;
    list-style: none;
}

.menu li {
    margin: 50px 10px;
}

.menu li a {
    background-color: rgb(1, 57, 83);
    font-size: 25px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    padding: 16px 25px;
    border-radius: 25px;
    transition: background-color 0.3s;
}

.menu li a:hover {
    background-color: rgba(255, 255, 255, 0.397);
}

footer {
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 8%;
    font-size: larger;
}